header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

header h1 {
    flex-basis: 30%;
    order: 1;
}

header nav {
    flex-basis: 40%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 2;
}

header nav a {
    border-radius: 5px;
}

header button {
    flex-basis: 15%;
    order: 3;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 20px;
    margin-bottom: 0px;
}

main nav {
    margin-bottom: 0px;
    grid-column: 1; 
    grid-row: 1 / span 2;
}
main section {
    grid-column: 2;
    grid-row: 1;
}
main aside {
    grid-column: 2;
    grid-row: 2;
}